<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand"><h4>CPW IV</h4></a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="#!"><h4>Home</h4></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""><h4>Cadastrar<span class="caret"></span></h4></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!alunosCadastrados"><h4>Aluno</h4></a></li>
                        <li><a href="#!disciplinasCadastradas"><h4>Disciplina</h4></a></li>
                        <li><a href="#!cursosCadastrados"><h4>Curso</h4></a></li>
                    </ul>
                </li>
                <li><a href="#!matricula"><h4>Matricula</h4></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=""><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                <li><a href=""><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            </ul>
        </div>
    </nav>

</div>