<div class="container-fluid" align="center" >
    <div class="page-header">

        <h2>Cadastro de Curso</h2>
        <br><br>
        <form class="form-inline">
            <div class="form-group">
                <label>Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome do curso" ng-model="curso.nome">
            </div>
            <br><br>
            <div class="form-group">
                    <button class="btn btn-default" ng-click="cadastrarCurso(curso)">Cadastrar</button>
            </div>
        </form>
    </div>
</div>