
<div class="container-fluid">

    <div class="page-header" align="center">
        <h1>Status Sistema Academico</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>
                <label></label>
            </th>
            <th>
                <label><h3>Alunos</h3></label>
            </th>
            <th>
                <label><h3>Disciplinas</h3></label>
            </th>
            <th>
                <label><h3>Cursos</h3></label>
            </th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td><h2>Quantidade</h2></td>
            <td><h3>{{listaAlunos}}</h3></td>
            <td><h3>{{listaDisciplinas}}</h3></td>
            <td><h3>{{listaCursos}}</h3></td>
        </tr>
        </tbody>
    </table>

</div>